@import "../../vars.css";

.container {
  margin: 76px auto 0 auto;
  max-width: 1400px;
  padding: 0 80px;
  color: var(--color-text);
}

.title {
  font-size: 35px;
  font-weight: 700;
  letter-spacing: 1.75px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 80px;
}

.projects {
  margin-top: 37px;
  width: 100%;
  padding-bottom: 140px;
  position: relative;
  overflow: visible !important;
}

:global(.swiper-slide) {
  overflow: visible !important;
  display: flex;
  justify-content: center;
}

:global(.swiper-button-prev) {
  width: 50px;
  height: 50px;
  top: 50%;
  left: -60px;
  transform: translateY(-50%);
}

:global(.swiper-button-next) {
  width: 50px;
  height: 50px;
  top: 50%;
  right: -60px;
  transform: translateY(-50%);
}

:global(.swiper-pagination) {
  position: absolute !important;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  z-index: 10;
}

:global(.swiper-pagination-bullet) {
  background: white !important;
  opacity: 0.7;
}

:global(.swiper-pagination-bullet-active) {
  background: white !important;
  opacity: 1;
}

@media (max-width: 768px) {
  :global(.swiper-button-next) {
    display: none;
  }
}